.button {
    border: 0;
    height: 55px;   
    width: 100%;
    border-radius: 100px;
    padding: 0 30px;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background-color: #01532F;
}