.navigation {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    height: 90px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.15);
    background: rgb(247,247,247);
    background: linear-gradient(263deg, rgba(247,247,247,1) 0%, rgba(244,244,244,1) 100%);

    &-item {
        font-size: 14px;
        font-weight: bold;
        color: #545454;
        border: 0;
        background-color: transparent;
        width: 22%;
        padding: 25px 0;
        text-decoration: none;
        text-align: center;

        &.active {
            color: #00522E;
        }
    }

    &-title {
        margin-top: 5px;
        display: block;
    }

    &-price {
        font-size: 25px;
        line-height: 1.2;

        span {
            display: block;
            font-size: 14px;
            color: #AAAAAA;
        }
    }

    &-cart {
        justify-content: start;
        padding: 30px;
    }

    &-button {
        margin-left: auto;

        button {
            margin-top: 0;
        }
    }
}